// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'footer';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* JUMBOTRON */

.search_pill{
    border-radius: 25px;
    width: 25%;
    margin:auto;
    height:50px;
    background-color: orangered;
}
.search_pill2{
    border-radius: 25px;
    margin:auto;
    height:50px;
    background-color: $orange;
}

header{
    height: 100vh;
}
.jumbo::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    filter: grayscale(40%);
    background-image: url('https://f.vividscreen.info/soft/8c5dc18232b51fbb258e2575651b7b3c/Pizza-with-mushrooms-and-olives-1920x1200.jpg');
    background-size: cover;
}
.jumbo{
    position:relative;
    margin-top: 55px;
    margin-bottom: 2rem;
    background-color: #758795;
    height: 100%;
  
   
    /* opacity: 0.8; */
    .jumbo_text{
        position: absolute;
        top:40%;
        left:50%;
        transform: translate(-50%);
        font-size: 50px;
        font-weight: 900;
        color:rgb(255, 255, 255);
        color: orange;
    }
    
}

