// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'partials/header';
@import 'partials/rest_cards';
@import 'partials/footer';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

