//Btns
a.buy_btn{
    background-color:#32affc ;
    //background: linear-gradient(82.72deg, #32affc 0%, #32affc 64.04%);
    border:none;
    transition: all 0.5s ease-out ;
    &:hover{
        transform: scale(0.9);
    }
}
.pay_btn{
    border-radius: 3px;
    height: 37px;
    background-color:#32affc !important;
    //background: linear-gradient(82.72deg, #32affc 0%, #32affc 64.04%);
    border:none;
    transition: all 0.5s ease-out ;
    &:hover{
        background-color:#159cf0 ;
        
    }
}
.trash_btn{
    background-color: #ec5853;
    width: 30px;
    height: 26px;
    border-radius: 3px;
    padding: 6px;
    border:none;
    margin-left: 53%;
   /* background: linear-gradient(82.72deg, #ec5853 0%, #e3342f 64.04%);  */
   transition: all 0.5s ease-out ;
   &:hover{
    
    transform: scale(0.9);

    }
}  
.shop_btn{
    width:35px;
    height:35px; 
    color:white;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    bottom:10px;
    right:10px;
    background-color: #32affc;
    //background: linear-gradient(82.72deg, #32affc 0%, #32affc 64.04%);
    border:none;
    transition: all 0.5s ease-out ;
    &:hover{
        /* transition: all 0.5s ease-in-out; */
        transform: scale(0.9);
    }
    
}
.add_btn{
    background-color: #32affc;
    /* background: linear-gradient(82.72deg, #32affc 0%, #32affc 64.04%); */
    border:none;
    transition: all 0.5s ease-out ;
    &:hover{
        /* transition: all 0.5s ease-in-out; */
        transform: scale(0.9);
    }
}
.remove_btn{
    background-color: #7d69a8;
    transition: all 0.5s ease-out ;
    border: none;
    /* background: linear-gradient(82.72deg, #ffa530 0%, #ffeb4a 64.04%); */
    &:hover{
     /* background: linear-gradient(277.33deg, #ffa530 36.28%, #ffeb4a 100%); */
     transform: scale(0.9);

     }
}
.add_btn, .remove_btn{
    width:25px;
}
