/* VIEW RISTORANTI PAGINA PRINCIPALE */
.rest_card{
    border-radius: 5px;
    width: 100%;
    word-wrap: break-word;
    box-shadow: 10px 10px 10px gray;  
    .rest_img{
        width:100%;
        img{
            width:100%;
            border-radius: 5px;
            
        }   
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:hover{
        box-shadow: 15px 15px 15px gray;      
        background-color:rgb(219, 219, 219);
        .rest_img{
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
    }
    .rest_info{
        color:black;
    }
    
}

/* VIEW RISTORANTE SINGOLO */
.single_rest{
    .details{
        margin-top: 25px;
        img{
        width:100%;
        height: 50%;
        border-radius: 5px;
    
        }
    }
    
}

.pic{
    
      float: left;
      margin: 20px;
      overflow: hidden;
}



.dishes{
    margin-top: 20px;
}
.dish_card{
     border: 1px solid gray;
    border-radius: 5px;
    margin:0px 10px 10px 0;
    width:100%;

    min-height: 180px;
    max-height: 180px;
    box-shadow: 5px 5px 5px rgb(189, 189, 189); 
   
    .wrapper{
        height: 100%;
        img{
            height: 100%;
            width:100%;
            z-index: 2;
            /* border-radius: 5px 5px ; */
            
        }
        
    }    
    &:hover{
        width:100%;
        margin-left: 0;
        box-shadow: 10px 10px 10px rgb(189, 189, 189);
        background-color: rgb(255, 247, 247);
    }
    
    .right_card{
        height: 100%;
        /* display: none; */
        border: 1px 1px 1px 0 solid black; 
        .shop_btn{
            width:35px;
            height:35px; 
            background-color: green;
            color:white;
            border-radius: 50%;
            justify-content: center;
            position: absolute;
            bottom:10px;
            right:10px;
        }
    }
}

/* .overflo{
    margin-top: 5px;
    padding-right: 10px;
    overflow-y:auto;
    height:60%;
    width:100%;
    
} */


.cart{
    border: 1px solid black;
}

