/* VIEW RISTORANTI PAGINA PRINCIPALE */
.rest_card{
    border-radius: 5px;
    width: 100%;
    word-wrap: break-word;
    box-shadow: 10px 10px 10px gray;  
    .rest_img{
        width:100%;
        padding:10px;
        img{
            width:100%;
            border-radius: 5px;
            
        }   
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:hover{
        box-shadow: 15px 15px 15px gray;      
        background-color:#f2f2f2;
        .rest_img{
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
        }
    }
    .rest_info{
        color:black;
    }
    
}

/* RESTAURANT DETAILS */
.single_rest{
    .details{
        width: 100%;
        margin-top: 100px;
        position: relative;
        .single_rest_img_wrapper{
            width: 100%;
            height: 300px;
            margin-bottom: 30px;
            position: absolute;
            bottom: 55px;
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }   
}

.dishes{
    margin-top: 20px;
}
.dish_card{

    border-radius: 5px;
    margin:0px 10px 10px 0;
    width:100%;
    min-height: 180px;
    max-height: 180px;
    box-shadow: 5px 5px 5px rgb(189, 189, 189); 
   
    .wrapper{
        height: 80%;
        img{
            height: 100%;
            width:155px;
            object-fit: cover;
            z-index: 2;
            border-radius: 5px;

        } 
    }    
    &:hover{
        width:100%;
        margin-left: 0;
        box-shadow: 10px 10px 10px rgb(189, 189, 189);
        background-color: rgb(255, 247, 247);
    }
    
    .right_card{
        height: 100%;
        /* display: none; */
        border: 1px 1px 1px 0 solid black; 
    }
}
/* CART BORDER */
.cart{
    .cart-items{

        border: 1px solid #32affc;
    }
    .cart-total-title{
        color:#32affc;
    }
}





@media only screen and (min-width: 576px ) and (max-width: 767px) {
    
    .rest_card{
        h1{
            font-size: 14px;
        }
        h4{
           font-size: 14px;
        }
        span{
            font-size: 12px;
        }

    }
    .single_rest {
        padding-top:0px !important;
        .details{
            margin-top: 0;
            .single_rest_img_wrapper {
                width: 100%;
                height: 170px;
                margin:auto;
                margin-bottom: 30px;
                position: absolute;
                bottom: 60px;
                border-radius: 5px;
                img{
                    width:100%;
                    
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
        .dishes{

            .right_card{
                h4{
                    font-size: 18px;
                }
                p{
                    font-size: 15px;
                }
                .shop_btn{
                    width:25px;
                    height:25px; 
                    font-size: 10px;
                    /* background-color: $buy_btn; */
                }
            }
            .dish_card{
                height: 130px;
                .wrapper{
                    padding-right: 0;
                    img{
                        padding-right: 0;
                        /* width: 100%; */
                        height: 100%;
                        
                       
                    }
                }
            }
        }
    }
}


@media only screen and (min-width:768px) and (max-width:991px){
    .single_rest {
        .details{
            
            .single_rest_img_wrapper {
                
                width: 100%;
                height: 250px;
                margin-bottom: 70px;
                position: absolute;
                bottom: 45px;
                border-radius: 5px;
                border-radius: 5px;
            }
            h2{
                padding-top: 0 !important;

            }
        }
    }
    .dishes{
        .dish_card{
            padding-right: 0;
            min-height: 145px;
            max-height: 145px;
            .wrapper{
                width:135px;
                img{
                    width:100%;
                }
            }
            .right_card{
                h4{
                    font-size: 14px;
                }
                p{
                    font-size: 11px;
                }
                .shop_btn{
                    width:25px;
                    height:25px; 
                    font-size: 10px;
                }
            }
        }
    }
    .card_container{
        .restaurant_card{
            min-height: 140px;
            .rest_img{
                height: 100%;
                width:100%;
                img{
                    width:100%;
                    height: 90%;
                }
            }
        }
    }

}



